* {
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  background: purple;
  padding: 8px 16px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

.main-header > div {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.main-header__brand {
  color: white;
  text-decoration: none;
}

.sidebar {
  display: none;
  background: gold;
  position: fixed;
  z-index: 1;
  top: 30px;
  right: 0;
  padding: 0;
  margin: 0;
}

.sidebar ul {
  padding: 0 16px;
}

.main-nav__items {
  list-style: none;
}

.main-nav__item a {
  text-decoration: none;
}

.main-content {
  margin-top: 40px;
  padding: 0 250px;
}

.main-content img {
  width: 480px;
  height: 550px;
}

@media (min-width: 40rem) {
  .main-header {
    width: 100%;
    background: purple;
    padding: 8px 16px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
  }
  
  .main-header > div {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
  }
  
  .main-header__brand {
    color: white;
    text-decoration: none;
  }
  
  .button {
    height: 10px;
    margin-left: 650px;
  }
  
  .sidebar {
    display: none;
    background: gold;
    position: fixed;
    z-index: 1;
    top: 30px;
    right: 0;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul {
    padding: 0 16px;
  }
  
  .main-nav__items {
    list-style: none;
  }
  
  .main-nav__item a {
    text-decoration: none;
  }
  
  .main-content {
    margin-top: 40px;
    padding: 0 250px;
  }
  
  .main-content img {
    width: 480px;
    height: 550px;
  }  
}


.main-header img {
  height: 24px;
  width: 24px;
  top: 0;
  left: 0;
}